<div class="row">
  <h2>
    <a href="?startkey=-{{ timestamp }}">{{#date}}{{ timestamp }}{{/date}}</a>
  </h2>
  {{#chunks}}
  <div class="col-md-2">
    {{#images}}
    <div class="row text-center">
      <a href="{{ ../../imgRoot }}/{{ this }}" target="_blank" class="thumbnail">
        <img src="{{ ../../imgRoot }}/{{ this }}" style="max-height:200px;">
      </a>
    </div>
    {{/images}}
  </div>
  {{/chunks}}
</div>